<template>
  <div>
    <v-tabs class="tabs" centered grow height="60px" v-model="activeTab" keep-alive>
      <v-tab v-for="tab in tabs" :key="tab.id" :to="tab.route" exact>{{ tab.name }}</v-tab>
    </v-tabs>
    <keep-alive><router-view></router-view></keep-alive>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      activeTab: `/`,
      tabs: [
        { id: 1, name: "Tab1", route: `/one` },
        { id: 2, name: "Tab2", route: `/two` },
        { id: 3, name: "Tab3", route: `/three` },
      ]
    };
  }
};
</script>