<template>
  <div>
    <p>{{count}}</p>
    <!-- <button @click="decrement">decrement</button> -->
    <button style="border: 1px solid gray; padding: 5px;" @click="increment">increment</button>
  </div>
  </template>
  
  <script>
  export default {
    name: "Three",
    data() {
      return {
        count: 0
      };
    },
    methods: {
      increment() {
        this.count++;
      },
      decrement() {
        this.count--;
      }
    }
  };
  </script>